body,
html {
  margin: 0;
  background: linear-gradient(to left , rgb(108, 107, 107) ,rgb(43, 43, 43));
  font-family: Verdana, Tahoma, sans-serif;
}
.container {
  height: 100%;
  width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;

  
}
.formulario {
  width: 50vw;
  align-items: center;
}
.textoheader {
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 50vw;
  
}

p {
  font-size: 23px;
  text-transform: none;
  text-indent: 40px;
}
form {
  background: rgb(225, 216, 223);
  max-width: 500px;
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  margin-left: 75px;
  margin-top: 30px;
}
form h3 {
  text-transform: uppercase;
  text-align: center;
  color: rgb(18, 19, 18);
}
form input[type="text"],
form input[type="email"] {
  width: 100%;
  height: 6vh;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin: 10px 0;
  background-color: rgb(206, 206, 206);
}
form input[type="submit"] {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background: rgb(32, 32, 33);
  border-radius: 40px;
  border: 0;
  color: white;
  transition: 0.5s;
  font-family:'Times New Roman', Times, serif
}
form input[type="submit"]:hover {
  background: rgb(79, 77, 77);
}
form input[type="text"],
form input[type="email"]:focus {
  outline: 0;
}

.borda{
  border-width: 8px;
  border-style: outset;
  border-color: rgb(232, 230, 230);
  width: auto;
  height: auto;

}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:4em;
  font-style: italic;
  margin: 0;
  color: blue;
}

h2{
  font-size:1em;
  margin: 0;
}

p{
  font-size: 1.3em;
}